#title{
    background-color: rgb(255, 74, 74);
}
#home{
    background-color: rgb(255, 74, 74);
    height: 500px;
    text-align: center;
    padding: 2% 8%;
}
h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 4.5rem;
    line-height: 1.5;
    color: aliceblue;
}
.sub-head{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}
.container-fluid{
    padding: 2% 8%;
    text-align: center;
}

.navbar-brand{
    font-size: 1.5rem;
}
.navbarSupportedContent{
    font-size: 1.5rem;
}